- @hide_top_links = true
- page_title    _("Groups")
- header_title  _("Groups"), dashboard_groups_path

= content_for :above_breadcrumbs_content do
  = render_if_exists "shared/gold_trial_callout"

- if current_user
  = render 'dashboard/groups_head'
- else
  = render 'explore/head'
  = render 'nav'

- if cookies[:explore_groups_landing_dismissed] != 'true'
  .explore-groups.landing.content-block.js-explore-groups-landing.hide
    %button.dismiss-button{ type: 'button', 'aria-label' => _('Dismiss') }= sprite_icon('close', size: 16)
    .svg-container
      = custom_icon('icon_explore_groups_splash')
    .inner-content
      %p= _("Below you will find all the groups that are public.")
      %p= _("You can easily contribute to them by requesting to join these groups.")

- if params[:filter].blank? && @groups.empty?
  .nothing-here-block= _("No public groups")
- else
  = render 'groups'
