.sortable-container {
  background-color: $gray-light;

  .flex-list {
    padding: 5px;
    margin-bottom: 0;
  }
}

.sortable-row {
  .flex-row {
    display: flex;

    &.issuable-info-container {
      padding-right: 0;
    }
  }

  .sortable-link {
    color: $black;
  }
}

.gl-sortable {
  .header {
    user-select: none;

    &:hover {
      cursor: pointer;
      background-color: $theme-gray-100;
    }

    &:focus {
      outline: 1px solid $blue-300;
    }
  }
}
